/*****************************************************************************
    FONTS

****************************************************************************/


@font-face {
    font-family: "CollegiateBlack";
    src: url('fonts/CollegiateBlackFLF.ttf');
}

@font-face {
    font-family: "CollegiateOutline";
    src: url('fonts/CollegiateOutlineFLF.ttf');
}


@font-face {
    font-family: "RobotoRegular";
    src: url('fonts/RobotoCondensed-Regular.ttf');
}

@font-face {
    font-family: "TypoGraphica";
    src: url('fonts/TypoGraphica.otf');
}

@font-face {
    font-family: "RalewayBlack";
    src: url('fonts/Raleway-Black.ttf');
}

@font-face {
    font-family: "RalewayBold";
    src: url('fonts/Raleway-Bold.ttf');
}

/*
 *  OVERALL 
 */

:root {
  --gutter: 0px;
}

body,html {
    height: 100%;
    overflow-x: hidden;
}

a {
    cursor: pointer
}

.row {
    margin:0
}

.environment {
    display: flex; flex-flow: column; height: 100%
}

.enivronment_header {
    flex:0 1 auto;
}

/*
 * HEADINGS
 */

p.page_heading {
    font-family: "CollegiateBlack";
    margin:0px;
    font-size: 50px;
    color: lightgray
}

p.centred_page_heading {
    font-family: "CollegiateBlack";
    margin:0px;
    font-size: 100px;
    color: lightgray;
    text-align: center;
}

p.centred_page_subheading, a.centred_page_subheading {
    font-family: "CollegiateBlack";
    margin:0px 20px;
    font-size: 50px;
    color: lightgray;
    text-align: center
}

a.centred_page_subheading:hover {
    text-decoration: none;
    color:#122314;
}

/*
 *  Main Divs
 */

/********
 * BODY *
 ********/

.body_container {
    background-color: #171717;
    height: 100%;
    padding: 0;
    background-color: rgba(0,0,0,1);
}

#body {
    background-color: #171717;
    color: white;
    height: 100%;
    padding: 0;
}

.cover_image {
    height: 100%;
    padding: 10px;
    background-image: linear-gradient(to bottom right,rgba(0,0,0,0.4),rgba(0,0,0,1)),url("../img/family.JPG");
    background-size:cover;
    padding: 0;
    margin:0
}

h1.cover_title {
    font-family: "CollegiateBlack";
    text-align: center;
    padding: 0 auto;
    font-size: 7vw;
    margin: 0px;
    color: lightgray;
}

.cover_title:hover {
    color:#122314;
}

/************
 * SIDE BAR *
 ************/

.sidebar {
    background-color: black;
    color: white;
    height: 100%;
    padding: 0px;
}

.sidebar_title {
    display: inline-block;
    font-family: "CollegiateBlack";
    white-space: nowrap;
    color:#171717;
    width:100%;
    margin: 0px;
    padding: 10px 30px 10px 10px;
    font-size: 300%;
}

.sidebar_title:hover {
    text-decoration: none;
    color:#122314;
}

.sidebar_title:active {
    text-decoration: none;
}

.sidebar_btn_group button {
    background-color: black;
    border: 1px solid #171717;
    border-left: 0px;
    border-right: 0px;
    padding: 10px 0px;
    color: #171717;
    cursor: pointer;
    width:100%;
    height:80px;
    display: block; /* vertical stack */
    font-family: "RalewayBlack";
    font-size: 250%;
    font-weight: 20;
}

.sidebar_btn_group button:hover {
    background-color: #122314;
    color: black;
}

.sidebar_btn_group button:focus {
    outline:0;
    background-color: #122314;
    color:black;
}

.sidebar_btn_group button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

.sidebar_links {
    padding: 10px 0px;
}

.sidebar_links a {
    color:#171717;
    font-size:40px;
}

.sidebar_links a:hover, a:active, a:focus {
    text-decoration: none;
    color:#122314;
}

/*********
 * ABOUT *
 *********/

.about_row {
    display: flex;
    flex: 1 1 auto;
}

.about_pic {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("../img/me_sunglasses.PNG");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
}

/******************
 * QUALIFICATIONS *
 ******************/

.horizontal_scroll_wrapper {
  padding: 0;
  display: grid;
  grid-gap: 0;
  align-content: start;
}

.horizontal_scroll_wrapper > * {
  grid-column: 2 / -2;
}

.horizontal_scroll_wrapper > .full {
  grid-column: 1 / -1;
}

.horizontal_scroll_list {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 0px;
  grid-template-rows: minmax(100%, 1fr);
  grid-auto-flow: column;
  grid-auto-columns: 25%;
    
  list-style: none;
  
  overflow-x: scroll;
  padding-left: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.horizontal_scroll_list:before, .horizontal_scroll_list:after {
  content: '';
  width: 10px;
}

.no-scrollbar {
  margin-bottom: 0;
  padding-bottom: 0;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.horizontal_scroll_item {
    background-color: #313131;
}

.horizontal_scroll_item h1, .experience_box h1 {
    text-align: center;
    margin: 0;
    font-family: "CollegiateBlack";
    font-size: 40px;
    color: lightgray
}

.horizontal_scroll_item h2, .experience_box h2 {
    text-align: center;
    margin: 10px;
    font-family: "CollegiateBlack";
    font-size: 20px;
    color: lightgray
}

.horizontal_scroll_item ul {
    margin: 10px;
    font-size: 20px;
    color: lightgray;
    list-style: none;
    margin: 0px 20px
}

.horizontal_scroll_item li:before { 
    content: "";
    border-color: transparent lightgray;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 0.9em;
    position: relative;
}

#qualification_view_options {
    text-align: center
}

.qual_overview_ul li {
    height: 100%
}

.qual_overview_detail_ul {
    list-style: none
}

.qual_overview_detail_ul li {
    font-family: arial;
    text-align: left;
    height: 100%
}

.qual_overview_detail_ul li:before { 
    content: "";
    border-color: transparent lightgray;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 0.9em;
    position: relative;
}

/**************
 * EXPERIENCE *
 **************/

.experience_box {
    background-color: #333333;
    color: lightgray;
    margin: 0 20px 20px 20px;
    padding: 20px;
}

a.company_anchor {
    font-family: "CollegiateBlack";
    margin:0px;
    color: lightgray;
    cursor: default;
    text-decoration: none;
}

/************
 * PROJECTS *
 ************/

#projects_content {
    flex: 1 1 auto;
}

.projects_footer {
    flex:0 1 auto
}

.projects_bar {
    grid-auto-columns: 22%;
}

.projects_bar_item {
    height: 100%;
    background-color: #333333;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

#project_footer ul li a {
    display: block;
    height: 100%;
    text-align: center;
    font-family: "CollegiateBlack";
    font-size: 40px;
    color: white;
    text-decoration: none;
}