body {
  overflow-y: hidden;
}

/*---------*
 * CONTENT *
 *---------*/

.details_content {
    height: calc(100vh - 110px);
    padding: 0px;
    background-color: #000;
}

.details_content h1 {
  margin: 0px;
  font-family: "CollegiateBlack";
  color: white;
}

/*------*
 * LEFT *
 *------*/

.details_content_left {
  height: 100%;
  width: 100%;

  display: table;

  background-color: #214025;
  background-size:cover;
  background-position:center top;
}

.details_content_title {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  height: 100%;
  width: 100%;
}

.details_content_title h1 {
  transition: transform 1s, color .2s;
}

.details_content_title h1:hover {
  color: #214025;
  transform: scale(1.1);
}

.details_content_title h2 {
  font-family: "CollegiateBlack";
  color: white;
}

 /*-------*
  * RIGHT *
  *-------*/

.details_content_right {
  background-color: black;
  height: 100%;
}

.details_scroll_item {
  width:100%;
  min-height: 40%;

  padding: 10px;

  color: white;

  background-color:#214025;
  background-size:cover;
  background-position:center center;
}

.details_scroll_item h2 {
  margin: 0;
}

.details_scroll_item h3 {
  margin: 0;
}

.details_scroll_item {
  font-weight: 100;
  border-bottom: 5px solid black;
}

.details_scroll_item > a:hover {
  color: #214025;
}

a.item_title {
  margin: 0px;
  font-family: "CollegiateBlack";
  color: white;
  font-size: 36px;
  transition-duration: .4s;
}

a.item_title:hover {
  text-decoration: none;
  color: #214025;
  cursor: pointer;
}

.item_title b:hover {
  text-decoration: none;
  color: #214025;
  cursor: pointer;
}
