/*
 *  COLLEGIATE
 *    american letterjacket style. (titles)
 *    serif, small caps
 */

@font-face {
    font-family: "CollegiateBlack";
    src: url('../fonts/CollegiateBlackFLF.ttf');
}

@font-face {
    font-family: "CollegiateOutline";
    src: url('../fonts/CollegiateOutlineFLF.ttf');
}

/*
 *  ROBOTO
 *    (body)
 *    sans-serif
 */

@font-face {
    font-family: "RobotoRegular";
    src: url('../fonts/RobotoCondensed-Regular.ttf');
}

/*
 *  RALEWAY
 *    (body)
 *    thin, sans-serif
 */

 @font-face {
     font-family: "Raleway";
     src: url('../fonts/Raleway.ttf');
 }

@font-face {
    font-family: "RalewayBlack";
    src: url('../fonts/Raleway-Black.ttf');
}

@font-face {
    font-family: "RalewayBold";
    src: url('../fonts/Raleway-Bold.ttf');
}

/*
 *  CINZEL
 *    (titles)
 *    serif, small caps
 */

@font-face {
    font-family: "Cinzel";
    src: url('../fonts/cinzel.ttf');
}
