:root {
  --dark-green: #214025;
  --light-green: #34623F;
}

* {
  cursor: default;
  font-family: "RalewayBlack";
  color: #ddd;
}

*:hover {
  cursor: default;
}

body {
    margin: 0px;
    overflow-x: hidden;
}

.col-sm-6 {
  height: 100%;
}

.row {
  height:100%;
}

/*---------*
 * CONTENT *
 *---------*/

.main_content {
    height: calc(100vh - 110px);
    padding: 0px;
    background-color: #000;
}

.main_content h1 {
  margin: 0px;
  font-family: "CollegiateBlack";
  color: #ddd;
}

/*-------*
 * LISTS *
 *-------*/

ul.no_bullets {
    list-style:     none;
}

ul.triangle_bullets {
    list-style:     none;
    padding:        0 1em;
}

.triangle_bullets li:before {
    content:        "";
    border-color:   transparent #fff;
    border-style:   solid;
    border-width:   0.35em 0 0.35em 0.45em;
    display:        block;
    height:         0;
    left:           -1em;
    position:       relative;
    top:            .9em;
    width:          0;
}

.triangle_bullets li {
  position: relative;
  top: -0.9em;
}

/*-------*
 * LINKS *
 *-------*/
a.h2_link {
  font-size: 30px;
  color: #ddd;
  transition-duration: .4s;
}

a.h2_link:hover {
  cursor: pointer;
  text-decoration: none;
  color:#214025;
}

a.link_icon, a.external_link{
  color: #ddd;
  transition-duration: .2s;
}

.col-sm-4 a.link_icon:hover, .col-sm-4 a.external_link:hover, .col-sm-8 a.external_link:hover {
  color: #214025;
  text-decoration: none;
  cursor: pointer;
}

.external_link > i:hover {
  cursor: pointer;
}

.full_div_link {
  color:black;
  font-size: 100px;
}

.full_div_link:hover {
  color: #214025;
  cursor: pointer;
}

a.external_link:hover {
  cursor: pointer;
  text-decoration: none;
  color: #214025;
}

/*-------*
 * HEADER *
 *-------*/

.mobile_nav_scroll {
  display: none
}

.header {
    width:100%;
    background-color:black;
    text-align:center;
    height: 45px;
    overflow: hidden;
    padding: 5px;
}

.header_options {
  float: right;
}

.header a {
    float: left;
    color: #eee;
    text-align: center;
    text-decoration: none;
    font-size: 35px;
    margin: 0 10px;
    line-height: 35px;
    transition-duration: 1s;
}

.header a:hover {
    cursor: pointer;
    text-decoration: none;
    color: #214025;
    transform: scale(1.1);
}

.header_name {
    font-family: "CollegiateBlack"
}


/*-------*
 * FOOTER *
 *-------*/

.footer {
    width:100%;
    background-color:black;
    text-align:center;
    height: 65px;
}

.footer_item {
    color: gray;
    padding: 5px 10px;
    font-size: 35px;
}

.footer_item:hover {
    text-decoration: none;
    color: #214025;
    cursor: pointer
}

.footer_details {
    font-size: 15px;
}

/*--------------*
 * POPULAR DIVS *
 *--------------*/

.vertical_scroll {
  height: 100%;
  width:100%;

  overflow-x:hidden;
  overflow-y: scroll;
}

.vertical_scroll a {
  color: #ddd
}

.vertical_scroll a:hover {
  text-decoration: none;
  color: #214025;
  cursor: pointer;
}

/*-------*
 * TABLE *
 *-------*/

 th {
   text-align: left;
 }

 td {
   text-align: right;
 }
