{% extends "details/details.html" %}

{% block content %}

<div class="vertical_scroll">

  <!-- <div id="jane_st" class="details_scroll_item"  style="background-image:linear-gradient(to left,rgba(0,0,0,0.2),rgba(0,0,0,0.4),rgba(0,0,0,1)),url({{ url_for('static',filename='img/jane_st.png') }})">
    <h1>Quantitative Trading</h1>
    <h2>Jane Street Capital</h2>
    <h3>2021-Present</h3>
    <p>I began working for Jane St in London straight out of university as a Trading Desk Operations Specialist (TDO) on the sales desk.</p>
  </div> -->

  <div id="barclays" class="details_scroll_item"  style="background-image:linear-gradient(to left,rgba(0,0,0,0.2),rgba(0,0,0,0.4),rgba(0,0,0,1)),url({{ url_for('static',filename='img/barclays_internship.jpg') }})">
    <h1>Technology Analyst Intern</h1>
    <h2>Barclays Execution Services</h2>
    <h3>2019 & 2020</h3>
    <p>Two ten-week interships with Barclaycard in Northampton*, working as a technology analyst. My keytake aways from these programs was in the processes which underpin the development of technology projects at such a large business, especially the necessesity of documentation and ensuring stakeholders considered in all decisions. </p>
    <p>During my first internship, I ran a project to taxonimise the technologies used by Barclaycard Commercial Payments (BCP) department. And, in my second internship I was part of the Retail and Business Lending Technology team and created a "requirements and delivery management" pack for a PSD2 article</p>
    <p>In both internships I partook in sessions to understand the structure and departments of the businesses. As well as organise two different charity events, rasing £600 for FareShare.</p>
    <p>I was offered a place on the company's 2021 graduate scheme, but decided to persue other opportunities.</p>

    <div class="local_footer">
      <div class="local_footer_content">
        <p>* 2020 internship took place virtually due to the Rona.</p>
      </div>
    </div>

  </div>

  <div id="gig" class="details_scroll_item"  style="background-image:linear-gradient(to left,rgba(0,0,0,0.2),rgba(0,0,0,0.4),rgba(0,0,0,1)),url({{ url_for('static',filename='img/gig.png') }})">
    <h1>Gig Economy</h1>
    <h2>UberEATs, Stuart, 8Dol & Rover.com</h2>
    <h3>2018-2021</h3>
    <p>Whilst at university I worked several jobs within the gig-economy: A cycle courier for UberEATs, Stuart & 8Dol; And, a dog walker with Rover.com.</p>
    <p>These jobs allowed me to marry my three loves: cycling, dogs & coin. As well as learn about client management and negotation. These jobs were extremly rewarding and easily fitted around my studies.</p>
  </div>

</div>

{% endblock %}
