{% extends "details/details.html" %}

{% block content %}

<div class="vertical_scroll">

  <div id="barclays" class="details_scroll_item"  style="background-image:linear-gradient(to left,rgba(0,0,0,0.2),rgba(0,0,0,0.4),rgba(0,0,0,1)),url({{ url_for('static',filename='img/barclays_internship.jpg') }})">
    <h1>Technology Analyst Intern</h1>
    <h2>Barclays Execution Services</h2>
    <h3>2019 & 2020</h3>
    <p>A 10 week internship in the Barclaycard Northampton office. I ran a project to taxonimise the technologies used by Barclaycard Commercial Payments (BCP) department and engaged in a number of sessions with to learn about different areas of the business.</p>
    <p>Returned back in 2020 for a 6 week virtual internship in the Retail and Business Lending Technology Team. Created a requirements and delivery management pack of a PSD2 article for stakeholders.</p>
    <p>I was offered a place on the company's 2021 graduate scheme, but decided to persue other challenges.</p>
  </div>

  <div id="gig" class="details_scroll_item"  style="background-image:linear-gradient(to left,rgba(0,0,0,0.2),rgba(0,0,0,0.4),rgba(0,0,0,1)),url({{ url_for('static',filename='img/gig1.png') }})">
    <h1>Gig Economy</h1>
    <h2>UberEATs, Stuart & Rover.com</h2>
    <h3>2018-2021</h3>
    <p>Whilst at university I worked as a cycle courier for UberEats & Stuart, and used Rover.com to find regular clients to walk dogs for.</p>
  </div>

</div>

{% endblock %}
