{% extends "details/details.html" %}

{% block content %}

<div class="vertical_scroll">

  <div id="Year4" class="details_scroll_item"  style="background-image:linear-gradient(to left,rgba(0,0,0,0.2),rgba(0,0,0,0.4),rgba(0,0,0,1)),url({{ url_for('static',filename='img/bs6_6ap.jpg') }});">
    <h1>Year 4</h1>
    <h2>2020-21</h2>
    <h3>Average = 73*</h3>
    <div class="row">

      <div class="col-sm-4">
        <h4>Maths</h4>
        <ul class="triangle_bullets">
          <li><a href="library#FM">Financial Mathematics - 64</a></li>
          <li><a href="projects#MEng">Project - 80</a></li>
          <li><a href="library#SO">Stochastic Optimisation - 79</a></li>
        </ul>
      </div>

      <div class="col-sm-4">
        <h4>Computer Science</h4>
        <ul class="triangle_bullets">
          <li><a href="library#ADS">Applied Data Science - 73</a></li>
          <li><a href="library#ADL">Applied Deep Learning - 67</a></li>
          <li><a href="library#IEFT">Internet Economics & Financial Technology - 68</a></li>
        </ul>
      </div>

      <div class="col-sm-4">
        <a class="h2_link" href="projects#MEng">Project></a>
        <a class="h2_link" href="bristol_transcript">Transcript></a>
      </div>

    </div>
  </div>

  <div id="Year3" class="details_scroll_item"  style="background-image:linear-gradient(to left,rgba(0,0,0,0.2),rgba(0,0,0,0.4),rgba(0,0,0,1)),url({{ url_for('static',filename='img/john_st.PNG') }});">
    <h1>Year 3</h1>
    <h2>2019-20 </h2>
    <h3>Average = 81*</h3>
    <div class="row">

      <div class="col-sm-4">
        <h4>Maths</h4>
        <ul class="triangle_bullets">
          <li><a href="library#LOG">Logic - 75</a></li>
          <li><a href="library#S2">Statistics 2 - 91</a></li>
          <li><a href="library#TI">Theory of Inference - 69</a></li>
        </ul>
      </div>

      <div class="col-sm-4">
        <h4>Computer Science</h4>
        <ul class="triangle_bullets">
          <li><a href="library#AA">Advanced Algorithms - N/A*</a></li>
          <li><a href="library#LP">AI with Logic Programming - 81</a></li>
          <li><a href="library#IP">Image Processing & Computer Vision - 70</a></li>
          <li><a href="library#ML">Machine Learning - 75</a></li>
          <li><a href="project#BSc">Project - 70</a></li>
        </ul>
      </div>

      <div class="col-sm-4">
        <a class="h2_link" href="projects#BSc">Project></a>
      </div>

    </div>
  </div>

  <div id="Year2" class="details_scroll_item"  style="background-image:linear-gradient(to left,rgba(0,0,0,0.2),rgba(0,0,0,0.4),rgba(0,0,0,1)),url({{ url_for('static',filename='img/bs8_1er.PNG') }});">
    <h1>Year 2</h1>
    <h2>2018-19 </h2>
    <h3>Average = 73</h3>
    <div class="row">

      <div class="col-sm-4">
        <h4>Maths</h4>
        <ul class="triangle_bullets">
          <li><a href="library#COM">Combinatorics - 78</a></li>
          <li><a href="library#MVC">Multivariable Calculus - 59</a></li>
          <li><a href="library#P2">Probability 2 - 70</a></li>
          <li><a href="library#S1">Statistics 1 - 83</a></li>
        </ul>
      </div>

      <div class="col-sm-4">
        <h4>Computer Science</h4>
        <ul class="triangle_bullets">
          <li><a href="library#DSA">Data Structures & Algorithms - 73</a></li>
          <li><a href="library#LE">Language Engineering - 70</a></li>
          <li><a href="library#SPS">Symbols, Patterns & Signals - 74</a></li>
        </ul>
      </div>

      <div class="col-sm-4">
      </div>

    </div>
  </div>

  <div id="Year1" class="details_scroll_item"  style="background-image:linear-gradient(to left,rgba(0,0,0,0.2),rgba(0,0,0,0.4),rgba(0,0,0,1)),url({{ url_for('static',filename='img/hiatt_baker.jpg') }});">
    <h1>Year 1</h1>
    <h2>2017-18 </h2>
    <h3>Average = 77</h3>
    <div class="row">

      <div class="col-sm-4">
        <h4>Maths</h4>
        <ul class="triangle_bullets">
          <li><a href="library#A1A">Analysis 1A - 81</a></li>
          <li><a href="library#C1">Calculus 1 - 71</a></li>
          <li>Foundations & Proof - 84</li>
          <li><a href="library#GT">Intro to Group Theory - 77</a></li>
          <li><a href="library#LAG">Linear Algebra & Geometry - 72</a></li>
          <li><a href="library#P1">Probability 1 - 68</a></li>
        </ul>
      </div>

      <div class="col-sm-4">
        <h4>Computer Science</h4>
        <ul class="triangle_bullets">
          <li><a href="library#ALG">Algorithms - 91</a></li>
          <li><a href="library#FP">Functional Programming - 88</a></li>
          <li><a href="library#IProg">Imperative Programming - 74</a></li>
          <li><a href="library#OOP">Object-Orientated Programming - 70</a></li>
        </ul>
      </div>

      <div class="col-sm-4">
      </div>

    </div>
  </div>

</div>

</div>
{% endblock %}
