{% extends "base_template.html" %}

{% block css %}
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/race_review.css') }}">
{% endblock %}

{% block js %}
  <!-- -->
{% endblock %}

{% block header %}
  <a href="/qualifications">Education</a>
  <a href="/experience">Experience</a>
  <a href="/library">Library</a>
  <a href="/projects">Projects</a>
  <a href="/races">Races</a>
{% endblock %}

{% block main_content %}

<div class="row review_content" style="margin:0px;background-color:black;height:100%">
  <div class="race_titles">
    <h1 class="fitText">{{ event|safe }}</h1>
    <h3>{{ year|safe }}</h3>
  </div>
  <div class="race_details row" style="width:100%">
    <div class="col-md-3" style="height:100%">
      <div class="race_route">
        {{ route_svg|safe }}
      </div>
      <div class="race_profile">
        {{ profile_svg|safe }}
      </div>
    </div>

    <div class="col-md-3" style="height:100%;text-align:center">
      <h3>Kilometre Splits</h3>
      {% set c = [] %}
      {% for split in data["1km_splits"] %}
        {% if c.append(1) %}{% endif %}
        {% if split is number %}
          <p>Km {{ c|length }} - {{ split//60 }}:{{ '%02d' % (split%60) }}</p>
        {% else %}
          <p>Km {{ c|length }} - {{ (split.0)//60 }}:{{ '%02d' % ((split.0)%60) }} ({{ '%0.2f' % ((split.1)/1000) }} km)</p>
        {% endif %}
      {% endfor %}
    </div>

    <div class="col-md-3" style="height:100%;text-align:center">
      <h3>Mile Splits</h3>
      {% set c = [] %}
      {% for split in data["1mi_splits"] %}
        {% if c.append(1) %}{% endif %}
        {% if split is number %}
          <p>Mile {{ c|length }} - {{ split//60 }}:{{ '%02d' % (split%60) }}</p>
        {% else %}
          <p>Mile {{ c|length }} - {{ (split.0)//60 }}:{{ '%02d' % ((split.0)%60) }} ({{ '%0.2f' % ((split.1)/1609) }} mi)</p>
        {% endif %}
      {% endfor %}
    </div>

    <div class="col-md-3" style="height:100%;text-align:center">
      <h3>Best Splits</h3>
      {% for key,val in bests.items() %}
        <p><b>{{ val }}</b> - {{ data[key]//60 }}:{{ '%02d' % (data[key]%60) }}</p>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
