{% extends "details.html" %}

{% block content %}

<div class="vertical_scroll">

  <div id="Year3" class="details_scroll_item"  style="background-image:linear-gradient(to left,rgba(0,0,0,0.4),rgba(0,0,0,1)),url({{ url_for('static',filename='img/john_st.PNG') }});">
    <h1>Year 3</h1>
    <h2>2019-20</h2>
    <h3>Average = WIP</h3>
    <div class="row">

      <div class="col-sm-4">
        <h4>Maths</h4>
        <ul class="triangle_bullets">
          <li>Statistics 2 - 91</li>
          <li>Logic</li>
          <li>Theory of Inference</li>
        </ul>
      </div>

      <div class="col-sm-4">
        <h4>Computer Science</h4>
        <ul class="triangle_bullets">
          <li>Machine Learning - 75</li>
          <li>Image Processing & Computer Vision - 70</li>
          <li>AI with Logic Programming</li>
          <li>Advanced Algorithms</li>
        </ul>
      </div>

      <div class="col-sm-4">
        <a class="h2_link" href="projects#BSc">Project ></a>

      </div>

    </div>
  </div>

  <div id="Year2" class="details_scroll_item"  style="background-image:linear-gradient(to left,rgba(0,0,0,0.4),rgba(0,0,0,1)),url({{ url_for('static',filename='img/bs8_1er.PNG') }});">
    <h1>Year 2</h1>
    <h2>2018-19</h2>
    <h3>Average = 73</h3>
    <div class="row">

      <div class="col-sm-4">
        <h4>Maths</h4>
        <ul class="triangle_bullets">
          <li>Statistics 1 - 83</li>
          <li>Combinatorics - 78</li>
          <li>Probability 2 - 70</li>
          <li>Multivariable Calculus - 59</li>
        </ul>
      </div>

      <div class="col-sm-4">
        <h4>Computer Science</h4>
        <ul class="triangle_bullets">
          <li>Symbols, Patterns & Signals - 74</li>
          <li>Data Structures & Algorithms - 73</li>
          <li>Language Engineering - 70</li>
        </ul>
      </div>

      <div class="col-sm-4">
      </div>

    </div>
  </div>

  <div id="Year1" class="details_scroll_item"  style="background-image:linear-gradient(to left,rgba(0,0,0,0.4),rgba(0,0,0,1)),url({{ url_for('static',filename='img/hiatt_baker.jpg') }});">
    <h1>Year 1</h1>
    <h2>2017-18</h2>
    <h3>Average = 77</h3>
    <div class="row">

      <div class="col-sm-4">
        <h4>Maths</h4>
        <ul class="triangle_bullets">
          <li>Foundations & Proof - 84</li>
          <li>Analysis 1A - 81</li>
          <li>Intro to Group Theory - 77</li>
          <li>Linear Algebra & Geometry - 72</li>
          <li>Calculus 1 - 71</li>
          <li>Probability 1 - 68</li>
        </ul>
      </div>

      <div class="col-sm-4">
        <h4>Computer Science</h4>
        <ul class="triangle_bullets">
          <li>Algorithms - 91</li>
          <li>Functional Programming - 88</li>
          <li>Imperative Programming - 74</li>
          <li>Object-Orientated Programming - 70</li>
        </ul>
      </div>

      <div class="col-sm-4">
      </div>

    </div>
  </div>

  <!--
  <div id="Year4" class="details_scroll_item"  style="background-image:linear-gradient(to left,rgba(0,0,0,0.4),rgba(0,0,0,1));">
    <h1>Year 4</h1>
    <h2>2020-21</h2>
    <div class="row">

      <div class="col-sm-4">
        <h4>Maths</h4>
        <ul class="triangle_bullets">
          <li></li>
        </ul>
      </div>

      <div class="col-sm-4">
        <h4>Computer Science</h4>
      </div>

      <div class="col-sm-4">
        <ul class="triangle_bullets">
          <li></li>
        </ul>
      </div>

    </div>
    -->
  </div>

</div>
{% endblock %}
