.review_content {
  width:100%;
  margin:0px;
  overflow-y:scroll;
  overflow-x:hidden;
}

.col-md-3 {
  width: 100%;
  height: auto;
  padding-bottom: 20px 
}

h2 {
  font-size: 80px;
  text-align: center
}

.row {
  height: auto
}

/*********
 * TITLE *
 *********/

.review_title {
  min-height: 940px
}

img.background_medal {
  position: absolute;
  width: 90%;
  height: 90%;
  filter: drop-shadow(0px 0px 50px rgba(118, 184, 127, 1));
  margin: 5%;
  z-index: 0;
}

.review_title_content_outer {
  text-align: center;
  width: 100%;
  display: table;
  height: auto;
  min-height: 940px;
  pointer-events: none;
}

.review_title_content_outer > * {
  pointer-events: none;
}

.review_title_content {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  position: relative
}

.review_title_options {
  text-align: center;
  width: 100%;
}

.review_title_content h1 {
  font-size: 100px;
}

.review_title_content h3 {
  font-size: 50px;
}

.review_title_options a {
  display: block;
  pointer-events: all;
  font-size: 60px;
  color: #ddd;
}


/***********
 * SUMMARY *
 ***********/

.review_summary {
  display: block
}

 /***********
  * DETAILS *
  ***********/

.race_details {
  display: block
}


/*-------*
 * TABLE *
 *-------*/

.review_content th, .review_content td {
  font-size: 40px;
}

.review_content th {
  text-align: right;
  padding-right: 1em;
  width: 50%
}

.review_content td {
  text-align: left;
  width: 50%
}

.blank_row {
  height: 1em !important;
}

/*----------*
 * SVG file *
 *----------*/

svg {
  display:block;
  margin: auto;
}

/*-----------------*
 * ROUTE & PROFILE *
 *-----------------*/

.svg_route, .svg_profile {
  stroke-width:15;
  pointer-events: all!important;
}

.svg_endpoint_cover {
  stroke: #000;
  stroke-width: 25;
}

.svg_route_animation, .svg_profile_animation {
  stroke-dasharray: 500;
  stroke: #547358;
  stroke-width:15;
  animation: dash 5s linear infinite;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
}

/*------------*
 * HISTOGRAMS *
 *------------*/

.hist_bar {
  pointer-events: all!important;
  transition: .5s
}

.hist_bar:hover {
  animation-timing-function: ease-in;
  fill: #547358!important;
  stroke: #214025!important;
}

text.hist_text {
  fill: #ddd
}

line.hist_axis {
  stroke-width:4!important
}


/*
 * ELEVATION
 */

.gain, .gain:hover {
  color: red;
  text-decoration: none
}

.loss, .loss:hover {
  color:green;
  text-decoration: none
}
