:root {
  --curve-size: 200px
}

/*-------*
 * COVER *
 *-------*/

#cover {
    height:100vh;
    background-color: #222;
    background-image: linear-gradient(to left,rgba(0,0,0,0.2),rgba(0,0,0,1)),url("../../img/dom_look_tight.jpg");
    background-size:cover;
    background-position: center top;
    /* background-attachment: fixed; */
    margin:0px;
}

#cover_title {
    height:calc(100% - var(--curve-size));
    width:100%;
    padding-top: 35vh;
    text-align: center;
}

#cover_title p {
    margin: 0px;
    padding: 0px;
    line-height: 20vh;

    color: #ddd;
    /* font-size: 20vh; */
    font-family: var(--title-font-family);
    font-weight: var(--title-font-weight);

    transition: transform 1s, color .2s;
}

#cover_title p:hover {
    color: #214025;
    transform: scale(1.1);
}

/*-----*
 * SVG *
 *-----*/

.curve {
  position:absolute;
  width:100%;
  height:var(--curve-size);

  fill:#214025;
  fill-rule:nonzero;
}

.arrows {
  display: none;
}

/*-----------*
 * DIRECTORY *
 *-----------*/

#directory .row {
  padding: 0px 0px 0px 0px;
}

#directory {
    /*height: 400px; /* change*/
    background-color: #214025;
}

.directory_item {
    background-color: #214025;
    height: calc(20vh - 40px);
    width: calc(100% - 40px);
    padding: 0px 0px 0px 0px;
    display: table;
    color: #000;
    margin: 20px 20px 20px 20px
}

.directory_item_content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background-color: #34623F;
    height: 100%;
    width: 100%;
}


.directory_item_content a, .directory_item_content p {
    color: black;
    margin: 0;
}

.directory_item_content p.super_title {
    font-size: 40px;
}

.directory_item_content p.title, .directory_item_content p.big_title {
    font-size: 120px;
}

.directory_item_content a:hover {
    text-decoration: none;
    color: #214025;
    cursor: pointer;
}

.directory_item_content p.title:hover, .directory_item_content p.title:hover, .directory_item_content p.big_title:hover {
    text-decoration: none;
    color: #214025;
    cursor: pointer;
}

/*-------*
 * FOOTER *
 *-------*/

.footer {
    display: none;
}
