.col-sm-4, .col-sm-6, .col-sm-8 {
  width: 100%;
  height: auto;
}

.row {
  height: auto;
}


.main_content {
  height: auto;
}

p, li, th, td {
  font-size: 30px;
}

table {
  margin-left: 40px;
}

/*------*
 * HEADER *
 *------*/

.details_content_left {
  height: 40vh;
  width: 100%;

  background-color: #214025;
  background-size:cover;
  background-position:center top;

  text-align: center;
  display: table;

  border-width: 0px 0px 5px 0px;
  border-style: solid;
  border-color: black;
}

.details_content_title {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  height: 100%;
  width: 100%;
}

/*------*
 * RIGHT *
 *------*/

.details_scroll_item {
  height: auto;
  min-height: 40vh;
  padding: 20px;
  border-width: 5px 0;
  border-style: solid;
  border-color: black;
}

.details_scroll_item h1, a.item_title {
  font-size: 80px;
  text-align: center;
}

.details_scroll_item h2 {
  display: none;
}

.details_scroll_item h3 {
  font-size: 40px;
  text-align: center;
}

.details_scroll_item h4, a.h2_link {
  font-size: 60px;
}

.details_scroll_item .col-sm-4 {
  width: 100%;
}

.triangle_bullets li {
  font-size: 30px;
}
